* {
	/* border: solid black 2px; */
}

body {
	height: 100vh;
	margin: 0;
	background: rgb(132, 127, 127);
	font: white;	
}

.button {
	width: 80%;
}

.search-aside {
	float: left;
	width: 20%;
	padding: 2px;
}

.current-weather-container {
	display: flex;
	align-items: center;
	vertical-align: middle;
	border: solid black 2px;
	width: 95%;
	background-color: whitesmoke;
}


.five-day-container {
	margin: 2px;
	width: 95%;
	padding: 2px;
}