body {
	height: 100vh;
	margin: 0;
	background: rgb(132, 127, 127);
	/* background-image: url("./images/lightening.jpg"); */
	font: white;	
}



.current-weather-container {
	display: flex;
	align-items: center;
	vertical-align: middle;
	border: solid black 2px;
}

/* .weather-card {
	border: solid navy 2px;

} */

.five-day-container {
	padding: 2px;
}